/* Estilo do Corpo --*/
body{
    background-image: url('https://s2.glbimg.com/uN1cosUVJ5nYQqjibbrbPwTYEIQ=/e.glbimg.com/og/ed/f/original/2020/03/04/maldives-1993704_1280.jpg');
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.estilo1{
    background-color:rgb(0, 119, 255);
    align-items: center; /* Alinhamento dos itens para o centro --*/
    margin: 0 auto; /* Alinhamento da margem --*/
    padding: 20px;
}

img#título{
    width: 110px;
    height: 110px;
}

.estilo1 h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding-right: 50px;

}

.estilo1 table{
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    width: 45%;
}

img#imagem2{
    align-items: center;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    padding-top: 30px;
}

img#imagem3{
    align-items: center;
    width: 550px;
    height: 450px; 
}

.estilo1 img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color:white;
    font-size: 30px;
}

p{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}

td{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.estilo2 table{
    margin: 0 auto;
    text-align: center;
    border-radius: 30px ;
    padding-top: 30px;
}

.estilo2 img{
    align-items: center;
    width: 300px;
    height: 200px;
    padding-top: 30px;
    border-radius: 30px ; 
    border-style: solid;
    border-width: medium;
}

div{
    margin: 0 auto;
    text-align: center;
}

.estilo2{
    width: 800px;
    background-color:rgb(0, 119, 255);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 20px;
}

.estilo3{
    width: 800px;
    background-color:rgb(0, 119, 255);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin: 5 auto;
    border-radius: 25px;

}

.estilo3 img{
    border-radius: 25px;
}

#video{
    align-items: center;
    width: 700px;
    height: 500px;
    margin: 0 auto; 
}
.estilo4{
    width: 800px;
    background-color:rgb(0, 119, 255);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin: 5 auto;
    border-radius: 10px;
    align-items: center;
}
.estilo4 img{
    width: 600px;
    height: 600px;
    margin: 5 auto;
    border-radius: 50px;
}

.roda{
    
    margin: 0 auto;
    height: 100px;
    width: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.roda img{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    padding-left: 15px;
}

.page-footer{
    
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: relative;
    top: 0px;
    padding-top: 50px;
}

.page-footer p {
    color: white;
    text-align: center;
    margin-bottom: -30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 94px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 960px;
    margin: 0 auto 30px;
}

.article{
    position: relative;
}

.article-img{
    margin-top: 100px;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

figcaption{
    bottom: 0;
    width: 150px;
    padding: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
}

main{
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
